:root {
    --vite-blue-lightest: #ecf4fd;
    --vite-blue-light: #90bef3;
    --vite-blue: #1272e6;
    --vite-blue-dark: #06254b;
    --vite-blue-darkest: #031326;
}

html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.main {
    background-image: linear-gradient(to top, var(--vite-blue-dark) 0%, var(--vite-blue-darkest) 100%);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backgroundGradient {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.main-card {
    display: flex;
    height: 70vh;
    min-height: 800px;
    padding: 20px;
    width: 60vw;
    min-width: 800px;
    background: rgb(144, 190, 243);
    background: radial-gradient(circle, rgba(144, 190, 243, 1) 0%, rgba(236, 244, 253, 1) 0%, rgba(144, 190, 243, 1) 100%);
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 20px 0;
}

.headline {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid var(--vite-blue-lightest);
    margin-left: 15px;
}

.headline p {
    font-size: 35pt;
    color: var(--vite-blue-darkest);
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

.form-element.button-container {
    justify-content: flex-end;
    margin: 50px 0 0 0;
}

.form-element .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18pt;
    font-weight: 300;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    margin: 10px 0 0 0;
    color: var(--vite-blue-lightest);
    background: var(--vite-blue);
    background: radial-gradient( at top right, var(--vite-blue) 0%, var(--vite-blue-dark) 100%);
    transition: all 0.5s;
}

.form-element .btn:hover {
    background-position: 180px;
}

.vitex .button-container {
    flex-basis: 49%;
}

.vitex .filter-button {
    justify-content: flex-start;
}

.vitex .filter-button .btn {
    color: var(--vite-blue);
    background: var(--vite-blue-light);
    background: radial-gradient( at top right, var(--vite-blue-lightest) 0%, var(--vite-blue-light) 100%);
    border: 0.5px solid var(--vite-blue);
    transition: all 0.5s;
}

.vitex .filter-button .btn:hover {
    background-position: 178px;
}

.btn.in-progress {
    cursor: progress;
    opacity: 0.5;
}

.form-element {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.form-element p {
    font-size: 10pt;
    margin: 20px 0 5px 0;
    color: var(--vite-blue);
}

.form-element input {
    flex-basis: 100%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom: 1px solid var(--vite-blue);
    background: rgba(255, 255, 255, 0);
    height: 35px;
    font-size: 13pt;
    transition: all 0.5s;
    padding-left: 10px;
}

.form-element.multi-select input {
    transition: none;
}

.form-element.multi-select input:focus {
    font-size: 12pt;
}

.form-element input:hover {
    background: var(--vite-blue-lightest);
}

.form-element input:focus {
    background: var(--vite-blue-lightest);
    font-size: 14pt;
    outline: none;
}

.multiselect__option--highlight, .multiselect__option--highlight::after, .multiselect__tag, .multiselect__tag i {
    background: var(--vite-blue-dark) !important;
}

.vdp-datepicker {
    flex-basis: 100%;
}

.vdp-datepicker div:first-child {
    display: flex;
}

.v-footer-container {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.v-footer-navigation {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}

.v-copyright {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.v-btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 130px;
    cursor: pointer;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 300;
    border-radius: 10px;
    height: 60px;
    flex-basis: 45%;
    margin-bottom: 50px;
    color: var(--vite-blue-lightest);
    background: var(--vite-blue);
    background-image: radial-gradient( at top right, var(--vite-blue) 0%, var(--vite-blue-dark) 100%);
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}

.link-button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient( at bottom, var(--vite-blue) 0%, var(--vite-blue-dark) 100%);
    z-index: -1;
    border-radius: 10px;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.link-button:hover::before {
    opacity: 1;
}

.content-container {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.content.home {
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    flex-basis: 50%;
}

.link-container.contact {
    flex-basis: 80%;
    align-content: center;
}

.contact-headline {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 15px;
}

#contact {
    text-align: center;
}

.link {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

.link > * {
    flex-basis: 100%;
}

.link > p {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 10px;
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.donation-container {
    flex-basis: 30%;
    margin: 30px 0 0;
}

#vite-community {
    width: 100%;
    margin: 50px 0 15px;
    text-align: center;
    font-size: 26pt;
    font-weight: 400;
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.vite-donation {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 500;
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.vite-donation.address {
    font-size: .8em;
    word-break: break-all;
    font-weight: 400;
}

.vite-qr-code {
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content.impressum {
    padding: 10px 20px;
}

.content.impressum p {
    font-size: 8pt;
    width: 100%;
    margin: 0;
}

.content.impressum h5 {
    margin: 15px 0 5px 0;
    width: 100%;
}

.content.impressum a {
    color: var(--vite-blue);
    text-decoration: none;
}

.description {
    font-size: 12pt;
    line-height: 18pt;
}

.description span {
    color: var(--vite-blue-dark);
    font-weight: 500;
}

.appbar {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-between;
    border-right: 2px solid var(--vite-blue-lightest);
}

.appbar .btn a {
    text-decoration: none;
    color: inherit;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 -45px;
    padding: 0 0 10px 40px;
    height: fit-content;
    text-decoration: none;
    color: inherit;
}

.logo-container div {
    display: flex;
}

.logo-container p {
    align-self: flex-end;
    margin: 0 0 10px -5px;
    font-weight: 200;
    font-size: 21pt;
    letter-spacing: 2px;
    display: inline-block;
    -webkit-transform: scale(1.15, 1);
    -moz-transform: scale(1.15, 1);
    -ms-transform: scale(1.15, 1);
    -o-transform: scale(1.15, 1);
    transform: scale(1.15, 1);
}

.logo-container p span {
    letter-spacing: 0;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.appbar .btn {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 15pt;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    padding: 0 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s;
}

.appbar .btn:hover {
    background-color: var(--vite-blue-dark);
    color: var(--vite-blue-lightest);
}

.appbar .btn.active {
    background-color: var(--vite-blue-dark);
    color: var(--vite-blue-lightest);
}

.navigation-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.navigation-button__burger {
    width: 50px;
    height: 6px;
    background: var(--vite-blue-darkest);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.navigation-button__burger::before, .navigation-button__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--vite-blue-darkest);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.navigation-button__burger::before {
    transform: translateY(-16px);
}

.navigation-button__burger::after {
    transform: translateY(16px);
}

.navigation-button.open .navigation-button__burger {
    background: transparent;
    box-shadow: none;
}

.navigation-button.open .navigation-button__burger::before {
    transform: rotate(45deg);
}

.navigation-button.open .navigation-button__burger::after {
    transform: rotate(-45deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: var(--vite-blue-lightest);
    background-image: radial-gradient(#fefefe 0%, var(--vite-blue-lightest) 100%);
    margin: 15% auto;
    padding: 20px 30px;
    border: 1px solid var(--vite-blue-dark);
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

.modal-content .form-element:first-of-type {
    margin-top: 15px;
}

.btn.close-modal {
    color: var(--vite-blue-darkest);
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
}

.btn.close-modal:hover, .btn.close-modal:focus {
    color: var(--vite-blue);
    text-decoration: none;
    cursor: pointer;
}

.modal-content h3 {
    color: var(--vite-blue-darkest);
    background: -webkit-linear-gradient( var(--vite-blue-darkest), var(--vite-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 20pt;
}


@media (min-width: 1000px) and (max-width: 1500px) {
    .main-card {
        width: 80vw;
    }
}

@media (max-width: 810px) {
    .main-card {
        flex-wrap: wrap;
        min-width: 300px;
        width: 90vw;
        min-height: 90vh;
        height: auto;
    }
    .content-container {
        flex-basis: 100%;
        height: 100%;
        min-height: 80vh;
    }
    .form-element.button-container {
        justify-content: center;
    }
    .headline {
        border-bottom: 0;
        justify-content: center;
    }
    .headline p {
        margin: 30px 0 0 0;
    }
    .appbar {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        border-right: 0;
        border-bottom: 2px solid var(--vite-blue-lightest);
        height: fit-content;
    }
    .navigation-container {
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        display: none;
    }
    .appbar .open {
        transition: max-height 0.3s ease-out;
        max-height: 500px;
    }
    .appbar .btn {
        flex-basis: 100%;
        justify-content: center;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0 0 5px 0;
    }
    .appbar .btn a {
        justify-content: center;
    }
    .navigation-container:last-child {
        margin: 0;
    }
    .navigation-button {
        visibility: visible;
    }
}

@media (max-width: 650px) {
    .link-button {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .vitex .button-container {
        flex-basis: 100%;
        justify-content: center;
        margin: 15px 0 0;
    }

    .vitex .button-container.filter-button {
        margin: 15px 0 0;
    }

    .modal-content {
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .headline {
        margin-left: 0;
    }
    .headline p {
        font-size: 30pt;
    }
    .content {
        padding: 30px 5px !important;
    }
}